/* This file is part of Photomontage -- skill-demonstration PHP web gallery. */

/* Copyright (C) 2012 Ivaylo Valkov <ivaylo@e-valkov.org> */

/* This program is free software: you can redistribute it and/or */
/* modify it under the terms of the GNU Affero General Public License */
/* as published by the Free Software Foundation, either version 3 of */
/* the License, or (at your option) any later version. */

/* This program is distributed in the hope that it will be useful, */
/* but WITHOUT ANY WARRANTY; without even the implied warranty of */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU */
/* Affero General Public License for more details. */

/* You should have received a copy of the GNU Affero General Public */
/* License along with this program.  If not, see <http://www.gnu.org/licenses/>. */
.input-error {
    border: 1px solid red;
}

img { 
    border: 0;
}

.wrap {
    width: 100%;
}

.content {
    position: relative;
    padding: 0;
}

.user-data {
 position: absolute;
 top: 0px;
 right: 10px;
}

.user-data p {
 float: left;
 margin-left: 15px;
}

.single-image img {
    width: 400px;
    height: 300px;
}

.gallery-images {
    display: block;
    float: left;
    margin-right: 10px;
}

.gallery-images img {
    width: 200px;
    height: 150px;
}

form {
    width: 250px;
}

#signup-form label,
#login-form label,
#new-image-form label,
#new-comment-form label {
    display: block;
}

#new-comment-form {
    margin-top: 20px;
    width: 370px;
}

.comment {
    display:block;
    width: 400px;
    height: 60px;
    padding:0;
    margin: 0;
}

.comment form {
    display:block;
    position: relative;
    top: -15px;
    left: 0px;
    width: 105px;
    height: 40px;
    padding:0;
    margin:0;
}

.delete-image input,
.comment input {
    postion: relative;
    top: 0;
    margin-top: 0;
    padding: 0;
    color: black;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    width: 90px;
}

.comment p {
    clear: both;
    width: 380px;
}


div.pages {
    position: relative;
    top: 200px;
}

.pages p {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    text-align: center;
    margin-right: 10px;
}

.pages a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 5px;
    border: 1px solid black;
}

.pages a:hover {
    color: white;
    background-color: black;
    border: grey;
}

.current-page a {
    color: white;
    background-color: grey;
    border: 1px solid black;
}

.footer {
    bottom: 10px;
    right: 10px;
    position: fixed;
}
